@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    @apply font-libre;
  }
  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }
  img {
    display: block;
    width: 100%;
  }
}
@layer components {
  .headingTitle {
    @apply text-white font-bold text-[24px];
  }
  .artistName {
    @apply text-white/75 text-[13px];
  }
  .animation-effect {
    @apply transition-all duration-200 ease-in-out;
  }
}
@layer utilities {
  .linear-bg {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.84) 100%
    );
  }
}
